<!DOCTYPE html>
<br>
<br>
<br>
<div class="jumbotron">

  <h1 class="display-4 text-center">Easy Doctor</h1>
  <p class="lead text-center">A simple way to search and fix an appointment with a doctor</p>
  <hr class="my-4 text-center">
  <!-- <p class="text-center">More information</p> -->
  <br>


  <div class="row justify-content-center">
    <div class="col-2">

      <button type="button" class="btn btn-primary ">I search for a doctor</button>

    </div>
    <div class="col-2">

      <button type="button" class="btn btn-primary ">I am a doctor</button>

    </div>
  </div>





</div>