<!DOCTYPE html>
<br>
<br>
<br>
<div class="jumbotron">

  <h1 class="display-4 text-center">Easy Doctor</h1>
  <p class="lead text-center">A simple way to search and book an appointment with a doctor</p>
  <hr class="my-4 text-center">
  <!-- <p class="text-center">More information</p> -->
  <br>

  <% if (!user) { %>
    <div class="row justify-content-center">

      <div class="col-3">
        <a class="btn btn-primary" href="/users/search" role="button">I search for a doctor</a>

      </div>
      <div class="col-2">
        <a class="btn btn-primary" href="/doctors/login" role="button">I am a doctor</a>
      </div>
    </div>
    <% }  else { %>
      <div class="row justify-content-center">
        <div class="col-1">
          <a class="btn btn-primary" href="/users/search" role="button">Search</a>
        </div>
      </div>
      <% } %>


</div>






</div>